<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCompulsoryCourseDetailMapper">

    <resultMap type="SysCompulsoryCourseDetail" id="SysCompulsoryCourseDetailResult">
        <result property="id"    column="id"    />
        <result property="ccId"    column="cc_id"    />
        <result property="ccdName"    column="ccd_name"    />
        <result property="ccdDataPath"    column="ccd_data_path"    />
        <result property="ccdRemark"    column="ccd_remark"    />
        <result property="ccName"    column="cc_name"    />
    </resultMap>

    <sql id="selectSysCompulsoryCourseDetailVo">
        select id, cc_id, ccd_name, ccd_data_path, ccd_remark from sys_compulsory_course_detail
    </sql>

    <select id="selectSysCompulsoryCourseDetailList" parameterType="SysCompulsoryCourseDetail" resultMap="SysCompulsoryCourseDetailResult">
        select a.id, a.cc_id, a.ccd_name, a.ccd_data_path, a.ccd_remark,b.cc_name from sys_compulsory_course_detail a
        left join sys_compulsory_course b on a.cc_id = b.id
        <where>
            <if test="ccId != null "> and a.cc_id = #{ccId}</if>
            <if test="flag != null "> and b.cc_flag = #{flag}</if>
        </where>
    </select>

    <select id="selectSysCompulsoryCourseDetailById" parameterType="Long" resultMap="SysCompulsoryCourseDetailResult">
        <include refid="selectSysCompulsoryCourseDetailVo"/>
        where id = #{id}
    </select>

    <select id="pullDownCourse" parameterType = 'String' resultType="map">
        select a.id as ccId,a.cc_name as ccName from sys_compulsory_course a
        <where>
            <if test="flag != null "> and a.cc_flag = #{flag}</if>
        </where>
    </select>

    <select id="getStuCourses" parameterType = 'Long' resultType="map">
       select a.cc_ids as ccIds from sys_cc_stu a where a.stu_id = #{userId} limit 1
    </select>

    <select id="list2" parameterType = 'arraylist' resultMap="SysCompulsoryCourseDetailResult">
       select a.id, a.cc_id, a.ccd_name, a.ccd_data_path, a.ccd_remark,b.cc_name from sys_compulsory_course_detail a
        left join sys_compulsory_course b on a.cc_id = b.id
        where a.cc_id in
        <foreach collection="courses" item="course" index="index" open="(" close=")" separator=",">
            #{course}
        </foreach>

    </select>

    <insert id="insertSysCompulsoryCourseDetail" parameterType="SysCompulsoryCourseDetail" useGeneratedKeys="true" keyProperty="id">
        insert into sys_compulsory_course_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ccId != null">cc_id,</if>
            <if test="ccdName != null">ccd_name,</if>
            <if test="ccdDataPath != null">ccd_data_path,</if>
            <if test="ccdRemark != null">ccd_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ccId != null">#{ccId},</if>
            <if test="ccdName != null">#{ccdName},</if>
            <if test="ccdDataPath != null">#{ccdDataPath},</if>
            <if test="ccdRemark != null">#{ccdRemark},</if>
         </trim>
    </insert>

    <update id="updateSysCompulsoryCourseDetail" parameterType="SysCompulsoryCourseDetail">
        update sys_compulsory_course_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="ccId != null">cc_id = #{ccId},</if>
            <if test="ccdName != null">ccd_name = #{ccdName},</if>
            <if test="ccdDataPath != null">ccd_data_path = #{ccdDataPath},</if>
            <if test="ccdRemark != null">ccd_remark = #{ccdRemark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysCompulsoryCourseDetailById" parameterType="Long">
        delete from sys_compulsory_course_detail where id = #{id}
    </delete>

    <delete id="deleteSysCompulsoryCourseDetailByIds" parameterType="String">
        delete from sys_compulsory_course_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
